@use "../abstracts" as a;

.testimonials-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  justify-items: center;

  &__header {
    max-inline-size: 410px;
    margin-block-end: 39px;
    text-align: center;
  }

  &__title {
    margin-block-end: a.clampRem(375, 1440, 23, 26);
    font-size: a.clampRem(375, 1440, 37, 52);
    font-weight: 700;
    line-height: 0.86;
    color: a.$veryDarkMagenta;

    @media (min-width: 1440px) {
      line-height: 0.92;
    }
  }

  &__description {
    font-size: a.rem(18);
    line-height: 1.4;
    letter-spacing: a.lsEm(-0.2);
  }

  &__reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    inline-size: 100%;
    margin-block-end: 49px;
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px a.clampPx(768, 1440, 16, 30);

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }
}
