@use "../abstracts" as a;

.review {
  inline-size: 100%;
  max-inline-size: 445px;
  padding: a.clampRem(375, 1440, 16, 18) a.clampRem(375, 1440, 16, 32)
    a.clampRem(375, 1440, 13, 18);
  background-color: a.$lightGrayishMagenta;
  border-radius: 8px;

  @media (min-width: 992px) {
    &:nth-child(1) {
      margin-inline-end: a.clampPx(992, 1440, 20, 95);
    }

    &:nth-child(2) {
      margin-inline-end: a.clampPx(992, 1440, 10, 47);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 13px;

    @media (min-width: 992px) {
      flex-direction: row;
      column-gap: 32px;
    }
  }

  &__stars-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__star {
    inline-size: a.rem(17);
    block-size: a.rem(16);
  }

  &__caption {
    font-weight: 700;
    color: a.$veryDarkMagenta;
    text-align: center;
  }
}
