@use "../abstracts" as a;

.testimonial {
  inline-size: 100%;
  max-inline-size: 350px;
  padding: 40px 33px a.clampPx(375, 1440, 31, 39) 32px;
  background-color: a.$veryDarkMagenta;
  border-radius: 8px;

  @media (min-width: 1146px) {
    &:nth-child(2) {
      margin-block-start: 16px;
    }

    &:nth-child(3) {
      margin-block-start: 32px;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 23px;
    margin-block-end: a.rem(26);
  }

  &__avatar-wrapper {
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar {
    inline-size: a.rem(40);
    block-size: a.rem(40);
  }

  &__person-info {
    text-transform: capitalize;
  }

  &__name {
    font-weight: 700;
    letter-spacing: a.lsEm(-0.2);
    color: a.$white;
  }

  &__status {
    letter-spacing: a.lsEm(0.1);
    color: a.$softPink;
  }

  &__quote {
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: a.lsEm(-1.9);
    color: a.$white;
  }

  &__quote::before {
    content: open-quote;
  }

  &__quote::after {
    content: close-quote;
  }
}
