@use "sass:math";

@function rem($value) {
  @if math.is-unitless($value) {
    $remValue: math.div($value, 16);
    $round: math.round($remValue * 1000);
    $result: math.div($round, 1000);

    @return #{$result}rem;
  } @else {
    @error "Hey, don't use units when using the rem() function!";
  }
}
